language: php
php:
    - 5.3

before_script:
    - curl -s http://getcomposer.org/installer | php
    - php composer.phar install --dev

script: vendor/bin/phpunit

branches:
    only:
        - master
        